* {
    padding: 0;
    margin: 0;
}

.secdiv {
    display: flex;
    justify-content: space-between;
    margin: 25px 27px 0 27px;
}

.secdiv h1 {
    color: #4540DB;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
}

.secdiv img {
    width: 104px;
    height: 17px;
}

.secdiv h1 span {
    color: #000;
}

.secdiv ul {
    display: flex;
    margin-right: 32px;
}

.secdiv ul li {
    padding: 15px 55px 0px 0px;
    list-style: none;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.thediv button {
    padding: 10px 14px;
    border-radius: 10px;
    background: #4540DB;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

.thediv span {
    color: #1a1aea;
    margin-right: 17px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;

}

.forthdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 590px;
}

.forthdiv h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 70px;
    font-weight: 700;
}

.forthdiv h1 span {
    color: #4540DB;
}

.forthdiv p {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    margin-top: 25px;
}

.fifthdiv {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 70%;
}

.fifthdiv input {
    padding: 5px 7px;
    border: none;
    margin-top: 60px;
    outline-width: 0;
    color: #878787;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;

}

.fifthdiv img {
    height: 30px;
    width: 30px;
}

.fifthdiv button {
    padding: 10px 20px;
    border-radius: 20px;
    background: #4540DB;
    color: #fff;
    border: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#homespan {
    margin-right: 60px;
}

.sixthdiv {
    background: #F6F7FC;
}

.sixthdiv h1 {
    padding: 70px 0 60px 0;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
}

.sixthdiv h1 span {
    color: #4540DB;
}

.sixthdiv2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 27px;
    justify-content: space-around;
    width: 88%;
    margin: auto;
}


.sixthdiv2 div {
    width: 260px;
    height: 150px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 27px 0px;
    cursor: pointer;
}

.sixthdiv2 div p {
    margin-bottom: 27px;
}

.seventh2div h1 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
    padding: 80px 0 60px 0;
    text-align: center;
}

.seventhdiv {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 27px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.seventhdiv div {
    width: 230px;
    height: 270px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 0px;
    /* cursor: pointer; */
    padding: 20px 20px 30px 20px;
}

.seventhdiv div h3 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

.seventhdiv div h6 {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.seventhdiv div h2 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
}

.seventhdiv div h4 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.seventhdiv div p {
    color: #585858;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.seventhdiv div h5 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.seventhdiv div h5 span {
    font-size: 12px;
}

.seventhdiv div button {
    color: #4943DA;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: #fff;
    margin-left: 40px;
    cursor: pointer;
}

.manbuttondiv {
    text-align: center;
}

.manbuttondiv button {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #4943DA;
    background-color: #fff;
}

.manbuttondiv button a {
    text-decoration: none;
    color: #4943DA;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.eightdiv {
    margin-top: 50px;
}

.eightdiv1 {
    border-radius: 20px;
    background: #4540DB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}

.eightdiv2 {
    text-align: start !important;
    margin-top: 25px;
}

.eightdiv2 h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    width: 516px;
    margin-bottom: 25px;
}

.eightdiv2 p {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    width: 553px;
    text-align: start;
    margin-bottom: 25px;
}

.eightdiv2 button {
    text-align: start !important;
    display: flex;
    align-items: center;
    padding: 13px;
}

.eightdiv2 button img {
    width: 18px;
    height: 17px;
    padding: 0 5px;
}

.nanethdiv {
    width: 84%;
    position: relative;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    bottom: -6rem;
    z-index: 0;
    background: white;
}

.nanethdiv1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.nanethdiv1 p {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 400;
}

.nanethdiv1 p span {
    color: #4540DB;
    ;
}

.nanethdiv2 {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 4px 4px;
    border-radius: 22px;
}

.nanethdiv2 input {
    color: #A8A8A8;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    border: none;
    padding: 0 50px 0 15px;
}

.nanethdiv2 button {
    border-radius: 20px;
    background: #4540DB;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.tenthdiv {
    height: 376px;
    background: #F4F5FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tenthdiv2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tenthdiv2 div h1 {
    color: #4540DB;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
}

.tenthdiv2 ul {
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

.tenthdiv2 ul li {
    list-style: none;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.eleventhdiv hr {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    color: #CDCDCD;
}

.eleventhdiv p {
    width: 90%;
    padding-top: 3px;
    margin: auto;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 0px;
    cursor: pointer;
}